.container{
	width: 30%;
	height: 600px;
	background: #AFAA7C;
	margin: 0 auto;
}
h1{
	text-align: center;
	color:#14EACC;


}
p{
	text-align: center;
	font-size: 20px;
}
input{
	text-align: center;
	margin-left: 110px;
	width: 50%;
	height: 4%; 
	color: red; 

}
button{
	text-align: center;
	margin-left: 160px;
	width: 30%;
	height: 8%;
	background: #EA8F14;
	cursor: pointer;

}
.mau{
	color: rgb(0, 0, 0);
}
h1:hover{
	color: yellow;
}
button:hover{
	color: green;
	background:  #66EA14;
}